@import '_common';

$p-tb100 : 100px 0;
@mixin flex($jc,$ai,$fd,$fw) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;

    // @include flex(space-between, flex-start, row, nowrap);
}
//#aacfd8;

header{
    position: fixed;
    left:0; top:0;
    width: 100%;
    padding: 40px 0;
    z-index: 9;


    >.head{
        width: 80%;
        margin: 0 auto;
        @include flex(space-between, center, row, nowrap);
        a{color: #212224; }
        h1{
            a{
                font-size: 0;
                background: url('img/h_logo.png') no-repeat;
                width: 200px; height: 36px;
                display: block;
            }
        }
        nav{
            display: flex;
            justify-content: center;
            a{
                margin: 0 8%;
                position: relative;
            }
            a::after{
                content: '';
                position: absolute; bottom:0%; left:0;
                width:0;
                border-bottom: 4px solid #5eaeba;
                transition: .5s;
            }
            a:hover::after{
                width: 100%; left:0;
            }
        }
        .trigger-menu{
            position: relative;
            width: 24px; height: 20px;
            display: none;
            span{
                position: absolute;
                left:0; top:50%;
                width: 100%; 
                border-top: 2px solid #212224;
            }
            span:nth-of-type(1){transform: translateY(-300%);}
            span:nth-of-type(2){}
            span:nth-of-type(3){transform: translateY(300%);}
        }
        .sub-menu{
            display: flex;
            p{
                padding: 0 20%;
            }
        }
    }
}

main{
    width: 100%; 
    position: relative;
    padding: 10% 15px;
    background-color:#f3f3f3;
    .notice{
        text-align:center;
        h1{
            font-size: 3.5em;
            font-family: 'Montserrat', sans-serif;
            // background: linear-gradient(to top, #aacfd8 20%, transparent 20%);
            // display: inline-block;
            font-weight: normal;
            color: #212224;
            margin: 5px;
            
            justify-content: center;
        }
        // h1:after{
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     width: 100%;
        //     height: 12px;
        //     bottom: 6px;
        //     left: 0;
        //     z-index: -1;
        //     background-color: rgba(171,208,217,0.3);
        // }
        p{
            color: #9ba1ad;
            font-size: 20px;
            font-weight: 300;
        }
    }
        .button{
            display: flex;
            justify-content: center;
            margin-bottom:50px;
            .btn{
                padding: 13px 120px;
                font-size: 1em;
            }
            p{
                margin:0 50px;
            }
            
        }

    .list-wrap{
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        background: #fff;
        padding: 30px;
        border-radius: 10px;

            .component{
                position: relative;
                margin-top: 30px;
                h3{
                    padding: 10px;
                    text-align: start;
                }
                .p1{
                    position: absolute;
                    top: 30%;
                    left: 0;
                    z-index: 2;
                    transform: translateY(-50%);
                    text-align: center;
                    width: 100%;
                    color: #fff;
                    font-size: 30px;
                    font-weight: 200;
                    font-family: 'Montserrat', sans-serif;
                }
                .p2{
                    font-size: 14px;
                    color: #9ba1ad;
                    line-height: 25px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: start;
                }
                img{
                    max-width: 100%;
                    display: block;
                    opacity: 50%;
                    border-radius: 10px;
                }
                .description{
                    text-align: center;
                    padding: 1rem;
                    margin-bottom: 2rem;
                    background-color: #ffffff;
                    .btn{
                        padding: 8 37px;
                        margin: 15px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: .7em;
                    }
                    h3{
                        margin: 0;
                        font-size: 1.3rem;
                        line-height: 1.5;
                        font-weight: 700;
                        
                    }   
                }
            }
        }
    }


    footer{
        background-color:#aacfd8;
        padding:2% 0;
    }
    .footer{
        
        @include flex(space-between, flex-start, row, nowrap);
        margin: 0 auto;
        width: 80%;
        .company{
            margin:0 auto 0 5%;
            span{
                font-size: 9pt;
            }
            p{
                font-size: 9pt;
                font-weight: bold;
    
            }
        }
        .icon{
            display: flex;
            p{
                padding: 0 5%;
                
                transform: scale(0.8);
            }
        }
    }
    @media (min-width:480px) {
        .component {
            flex: 0 0 calc(50% - 1rem);
        }
    }
    @media (min-width:768px) {
        .component{
            flex: 0 0 calc(33.3% - 1rem);
        }
    }
    
 

