@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&family=Source+Sans+Pro:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.btn {
  display: inline-block;
  padding: 20px 150px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #fff;
  background: #5eaeba;
}

.thema {
  background: #212224;
}

.thema2 {
  background: #212224;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 9;
}

header > .head {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header > .head a {
  color: #212224;
}

header > .head h1 a {
  font-size: 0;
  background: url("img/h_logo.png") no-repeat;
  width: 200px;
  height: 36px;
  display: block;
}

header > .head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header > .head nav a {
  margin: 0 8%;
  position: relative;
}

header > .head nav a::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 0;
  border-bottom: 4px solid #5eaeba;
  -webkit-transition: .5s;
  transition: .5s;
}

header > .head nav a:hover::after {
  width: 100%;
  left: 0;
}

header > .head .trigger-menu {
  position: relative;
  width: 24px;
  height: 20px;
  display: none;
}

header > .head .trigger-menu span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-top: 2px solid #212224;
}

header > .head .trigger-menu span:nth-of-type(1) {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

header > .head .trigger-menu span:nth-of-type(3) {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

header > .head .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .head .sub-menu p {
  padding: 0 20%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10% 15px 1%;
  background-color: #f3f3f3;
}

.main .notice {
  text-align: center;
}

.main .notice h1 {
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #212224;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .notice p {
  color: #9ba1ad;
  font-size: 20px;
  font-weight: 300;
}

.main .notice .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.main .notice .button p {
  margin: 0 50px;
}

.main .sub_container {
  width: 100%;
  margin: 80px auto;
  padding: 120px 180px;
  border-radius: 20px;
  padding: 120px 170px;
  background: #fff;
  font-family: 'Noto Sans KR',sans-serif;
  font-weight: 100;
}

.main .sub_container .com_sec_parah {
  text-align: center;
  letter-spacing: -2px;
}

.main .sub_container .com_sec_parah .big_p {
  font-size: 60px;
  color: #212224;
  padding-bottom: 30px;
}

.main .sub_container .com_sec_parah .big_p .color_mint {
  color: #5eaeba;
}

.main .sub_container .com_sec_parah .small_p {
  font-size: 20px;
  color: #9ba1ad;
  letter-spacing: -1px;
}

.main .sub_container .com_sec_logo {
  width: 100%;
  padding: 65px;
  background: #f7f8fa;
  text-align: center;
  margin: 60px 0;
  border-radius: 17px;
}

.main .sub_container .com_sec_logo img {
  font-size: 1em;
}

.main .sub_container .wide_lh {
  letter-spacing: -1px;
  line-height: 2.2;
  color: #9ba1ad;
  text-align: center;
  font-size: 20px;
}

.main .sub_container .wide_lh .color_black {
  color: #212224;
}

.main .sub_container .wide_lh .color_mint {
  color: #5eaeba;
}

.main .sub_container .sub_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .sub_container .sub_sec .sub_sec_title {
  width: 50%;
  margin: 100px;
}

.main .sub_container .sub_sec .sub_sec_title h1::before {
  content: '';
  display: block;
  width: 30px;
  border-top: solid 5px #5eaeba;
}

.main .sub_container .sub_sec .sub_sec_title h1 {
  font-size: 2.8em;
  font-weight: 100;
}

.main .sub_container .com_circle_wrap {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .sub_container .com_circle_wrap .com_circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 80px 10px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.main .sub_container .com_circle_wrap .com_circle .text_area {
  color: #fff;
  font-size: 22px;
}

.main .sub_container .com_circle_wrap .com_circle01 {
  background: url(./img/about_icon_bg01.png) no-repeat center 0;
  background-size: 100% auto;
  opacity: .9;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  left: 60px;
}

.main .sub_container .com_circle_wrap .com_circle01 img {
  margin-bottom: 20px;
}

.main .sub_container .com_circle_wrap .com_circle02 {
  background: url(./img/about_icon_bg02.png) no-repeat center 0;
  background-size: 100% auto;
  opacity: .9;
  position: relative;
  left: 30px;
}

.main .sub_container .com_circle_wrap .com_circle02 img {
  margin-bottom: 20px;
}

.main .sub_container .com_circle_wrap .com_circle03 {
  background: url(./img/about_icon_bg03.png) no-repeat center 0;
  background-size: 100% auto;
}

.main .sub_container .com_circle_wrap .com_circle03 img {
  margin-bottom: 20px;
}

footer {
  background-color: #aacfd8;
  padding: 2% 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
  width: 80%;
}

.footer .company {
  margin: 0 auto 0 5%;
}

.footer .company span {
  font-size: 9pt;
}

.footer .company p {
  font-size: 9pt;
  font-weight: bold;
}

.footer .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .icon p {
  padding: 0 5%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/*# sourceMappingURL=company.css.map */