.swiper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet{
    /* 인디게이터 원 모양 */
    
}
.swiper-pagination-bullet-active{
    /* 인디게이터 백그라운더 컬러 (활성화 모양) */
    background-color: #5eaeba;
}


/* .swiper-button-prev::after{

} */
/* .swiper-button-next:after{
    content: '';
    background-image: ();
    /* 
    ../../img/icon.png 
    width:20px height:20px;
    display:block;
    */
